* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 100%;
    width: 95%;
    background-color: #c9f8fe;
}
.box {
    width: 56rem;
    height: 32rem;
    background-color: white;
    margin: 3.2rem auto 0;
    display: grid;
    grid-template-columns: 45% 1fr;
}
.background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(./media/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.info {
    height: 10rem;
    width: 13rem;
    line-height: 2rem;
    margin: auto;
}
.info h2 {
    font-size: 30px;
}
.info p {
    font-size: 15px;
}
.button {
    height: 3rem;
    width: 7rem;
    background-color: #53998cd8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 50px;
}
.button:hover {
    background-color: #53998c;
    cursor: pointer;
}
.button img {
    margin: 0.5rem;
}
.button span {
    font-size: 13px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height: 85%;
    width: 85%;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head img:hover {
    cursor: pointer;
    scale: 1.1;
}
/* .head p {
    font-size: 32px;
    font-weight: 500;
} */
.year {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(90deg, transparent 98%,  rgba(255, 253, 253, 0.836) 99%);
    margin-top: 1.5rem;
}
.year div {
    font-size: 22px;
    font-weight: 530;
}
.yr {
    color: rgba(163, 163, 163, 0.521);
}
.yr:hover {
    color: black;
    cursor: pointer;
}
.lists {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}
.opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opt img {
    height: 40px;
    width: 40px;
    margin: 0 1rem 0 0;
    border-radius: 50%;
}
.flex {
    width: 20rem;
    display: flex;
    align-items: center;
}
.flex2 {
    display: flex;
}
.big {
    font-size: 35px;
    padding: 0 0.5rem;
    font-weight: 100;
}
.bold {
    font-weight: 600;
}